/*contacto*/

@import "variables";

.contacto{
    text-align:center;
    h1{
        font-size:25px;
        line-height:80px;
        color: $color-secundario;
        font-weight: bold;
    }

}

main{
    .mapa{
        max-height: 756px;
        h2 {
            text-align:center;
            font-size: 25px;
            font-weight:bold;
            padding: 30px;
            color:$color-secundario;
        iframe{
            width:100%;
            height:600px;
        }
        }
    }
}