@import "variables";
@import "contacto";
@import "restaurante";
@import "excursiones";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}


body {
    background-color: $color-primario;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: $color-secundario;
}


.navbar img {
    width: 100px;
    height: 100px;
}

.navbar-nav {
    margin-left: auto;
    padding: 15px;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    background-color: lightgray;
}

.navbar-toggler {
    font: size 15px;
    margin-right: 15px;
}


header .titulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background-image: url(../Imagenes/fondodeportada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.experiencia {
    display: flex;
    flex-direction: column;
    height: 525px;
    padding-top: 15px;
    align-items: center;
}

.experiencia h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: $color-secundario;
    padding-bottom: 10px;
}

.experiencia p {
    text-align: center;
    font-size: 17px;
    color: $color-secundario;
}

.experiencia img {
    height: 250px;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    text-align: center;
}

/*cartas*/
.row {
    margin: 15px 0;
    row-gap: 20px;
    justify-content: space-around;
}

.card {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border: solid white 2px;
    border-radius: 1em 1em 1em 1em;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    flex-grow: 1;
}

.card img {
    border-radius: 1em 1em 0 0;
    max-width: 100%;
    max-height: 450px;
}

.card h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.card p {
    text-align: center;
    font-size: 17px;
}

.card a {
    background-color: #56776c;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 5px 120px;
    display: block;
}

.card .btn:hover {
    background-color: rgb(209, 203, 203);
    color: $color-secundario;
    border-color: $color-secundario;
}

/* escala*/

.escala {
    transition: all 3s;
    position: relative;
}

.escala:hover {
    transform: scale(1.1);
    z-index: 2;
}

/*Formulario*/

.formreserva {
    background-color: white;
    height: 1000px;
    line-height: 35px;
}

.formreserva h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $color-secundario;
    padding: 20px 0 0 0;
}

.formreserva form {
    width: 90%;
    height: 100px;
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    color: $color-secundario;
}

.formreserva form .inputs {
    display: block;
    width: 90%;
    background-color: white;
    margin: 15px;
    padding: 5px;
    border: solid 2px $color-secundario;
    color: $color-secundario;
    height: 35px;
    font-size: 15px;
}

.formreserva form select {
    display: block;
    background-color: white;
    border: solid 2px $color-secundario;
    color: $color-secundario;
    width: 90%;
    height: 35px;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    overflow: hidden;
}

.formreserva form .check {
    background-color: white;
    border: solid 2px $color-secundario;
    color: $color-secundario;
    width: 90%;
    height: 35px;
    font-size: 15px;
    margin: 15px;
    padding: 5px;
}

.formreserva form .label,
.label3 {
    display: block;
    font-size: 20px;
    margin-left: 15px;
    width: 100px;
}

.formreserva form .label2 {
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
}

.formreserva form textarea {
    display: block;
    width: 90%;
    background-color: white;
    margin: 15px;
    padding: 5px;
    border: solid 2px $color-secundario;
    color: $color-secundario;
    font-size: 15px;
}

.formreserva .boton {
    cursor: pointer;
    line-height: 17px;
}

.formreserva .boton:hover {
    box-shadow: 1px 2px 2px 1px grey;
}

/*footer */

footer {
    background-color: $color-secundario;
    padding: 20px 20px 20px 0;
    color: white;
    height: 250px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;

}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.contacto li {
    font-size: 15px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.redes-sociales li {
    font-size: 25px;
    color: white;
    padding: 10px;

}

.redes-sociales li a {
    color: white;
}

.copy {
    text-align: center;
    font-size: 13px;

}


/*Alojamiento*/

header .alojamiento h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    background-image: url(../Imagenes/portadaalojamiento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-top: 15px;
}

.intro {
    border: solid 3px white;
    border-radius: 1em 1em 1em 1em;
    padding: 10px;
    margin:15px;
    margin-left:18px;
    background-color: white;
    width:90%;
}

.intro h2 {
    color: $color-secundario;
    font-size: 23px;
    padding-bottom: 5px;
}

.intro li {
    color: $color-secundario;
    font-size: 15px;
    text-decoration: none;
    text-align: justify;
    list-style-type: circle;
    margin-left: 10px;
}



.cabananorte,
.cabanasur,
.glampings {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    background-color: $color-primario;
}

.cabananorte div,
.cabanasur div,
.glampings div {
    background-color: white;
}

.cabananorte h2,
.cabanasur h2,
.glampings h2 {
    font-size: 22px;
    color: $color-secundario;
    font-weight:bold;
    padding: 10px 0;
}

.cabananorte p,
.cabanasur p,
.glampings p {
    color: $color-secundario;
    font-size: 17px;
}

.cabananorte img,
.cabanasur img,
.glampings img {
    max-width: 100%;
    padding: 15px;
    width: 100%;
    max-height: 500px;
    height:350px;

}

@media (min-width:768px) {

    /*index*/
    header .titulo h1, header .alojamiento h1, header .contacto h1, header .excursiones, header .restaurante h1 {
        height: 400px;
        font-size:35px;
    }

    main .experiencia{
        height: 720px;
    }

    main .experiencia h2{
        font-size: 30px;
    }

    main .experiencia img {
        height: 400px;
    }

    main .experiencia p{
        font-size: 23px;
    }

    .card h3{
        font-size:25px;
    }

    .card p{
        font-size: 19px;
    }

    .card a{
        font-size: 17px;
    }

    /*Alojamientos*/

    .cabananorte h2, .cabanasur h2, .glampings h2 {
        font-size: 28px;
    }

    .cabananorte p, .cabanasur p, .glampings p{
        font-size: 22px;
    }

    .cabananorte img, .cabanasur img, .glampings img{
        height: 600px;
    }

    .intro {
        margin-left: 50px;
    }

    .intro h2{
        font-size: 28px;
    }

    .intro li{
        font-size: 20px;
    }

    /*Excursiones*/
    .paquetes p{
        font-size: 23px;
    }

    main .actividades h2{
        font-size: 30px;
    }

    /*Restaurante*/
    .restaurante-intro p, strong{
        font-size: 23px;
    }

    main .infraestructura img{
        width: 600px;
        height: 450px;
    }

    main .platos h2{
        font-size: 30px;
    }

    main .platos .grid-platos img {
        width: 600px;
        height:600px;
    }

    /*Contacto*/

    header .contacto h1{
        height: 80px;
    }

    main .mapa h2 {
        font-size: 30px;
    }

    /*footer*/

    footer {
        height: 270px;
    }

    footer .footer .contacto li{
        font-size: 20px;
    }

    footer .footer .redes-sociales li{
        font-size: 40px;
    }

    footer .copy p{
        font-size: 15px;
    }
}

@media (min-width: 1024px) {

    header .titulo h1,
    header .alojamiento h1,
    header .excursiones,
    header .restaurante h1,
    header .contacto h1 {
        height: 600px;
        font-size: 40px;
    }

    main .experiencia {
        flex-direction: row;
        gap: 15px;
        height: 450px;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .experiencia div {
        padding: 10px;
    }

    .experiencia h2 {
        font-size: 30px;
    }

    .experiencia p {
        font-size: 25px;
    }

    .experiencia img {
        height: 400px;
    }

    .cartas {
        margin-bottom: 50px;
    }

    .card h3 {
        font-size: 25px;
    }

    .card p {
        font-size: 20px;
    }

    .card a {
        font-size: 20px;
    }

    /*Alojamientos*/
    .cabananorte,
    .cabanasur,
    .glampings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 416px auto;
        grid-template-areas:
            "texto imggrande"
            "imgchica1 imgchica2";
        max-height: auto;
        padding: 10px 100px;
    }

    .cabananorte h2, .cabanasur h2, .glampings h2{
        font-size: 35px;
    }

    .cabananorte p, .cabanasur p, .glampings p{
        font-size: 22px;
    }

    .cabananorte .texto,
    .cabanasur .texto,
    .glampings .texto {
        grid-area: texto;
    }

    .cabananorte .imggrande,
    .cabanasur .imggrande,
    .glampings .imggrande {
        grid-area: imggrande;
    }

    .cabananorte .imggrande img,
    .cabanasur .imggrande img,
    .glampings .imggrande img {
        height: 416px;
        text-align: center;
    }

    .cabananorte .imgchica1,
    .cabanasur .imgchica1,
    .glampings .imgchica1 {
        grid-area: imgchica1;
        max-width: 100%;
        max-height: auto;
    }

    .cabananorte .imgchica1 img,
    .cabanasur .imgchica1 img,
    .glampings .imgchica1 img {
        height: 600px;
    }

    .cabananorte .imgchica2,
    .cabanasur .imgchica2,
    .glampings .imgchica2 {
        grid-area: imgchica2;
        max-width: 100%;
        max-height: auto;
    }

    .cabananorte .imgchica2 img,
    .cabanasur .imgchica2 img,
    .glampings .imgchica2 img {
        height: 600px;
    }

    .cabananorte .texto,
    .cabanasur .texto,
    .glampings .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .cabanasur {
        grid-template-areas:
            "imggrande texto"
            "imgchica1 imgchica2";
    }

    .glampings {
        margin-bottom: 15px;
    }

    /*Excursiones*/

    header .excursines h1 {
        font-size: 40px;
    }

    main {
        .paquetes{
            p{
                font-size:25px;
            }
        }
        .actividades {
            h2{
                font-size:35px;
            }
        }

        .actividades-invierno,
        .actividades-verano {

            .actividad-invierno-1,
            .actividad-invierno-2,
            .actividad-invierno-3,
            .actividad-verano-1,
            .actividad-verano-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0 5px 0;

                h3 {
                    font-size: 30px;
                }

                ul {
                    li {
                        font-size: 20px;
                        list-style-type: square;

                        ol {
                            li {
                                font-size: 17px;
                                list-style-type: lower-roman;
                            }
                        }
                    }
                }
            }

            .img-invierno-1,
            .img-invierno-2,
            .img-invierno-3,
            .img-verano-1,
            .img-verano-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 400px;

                img {
                    width: 50%;
                    height: 400px;
                }
            }
        }
    }

    /*Restaurante*/
    main {
        .restaurante-intro{
            font-size:25px;
        }
        .infraestructura{
            width:600px;
            height:875px;
            img{
                width:600px;
                height:400px;
            }
        }
        .platos {
            .grid-platos {
                flex-direction: row;
                flex-wrap: wrap;
                img{
                    width:400px;
                    height:400px;
                }
            }
        }
    }

    /*Contacto*/

    header {
        .contacto{
            h1{
                height:75px;
            }
        }
    }

    main {
        .mapa{
            h2{
                font-size:35px;
            }
        }
    }
     

    /*Formulario reserva */
    .formreserva {
        background-color: white;
        height: 1000px;
        line-height: 35px;
    }

    .formreserva h2 {
        text-align: center;
        font-size: 40px;
        color: $color-secundario;
        padding: 20px 0 0 0;
    }

    .formreserva form {
        width: 600px;
        height: 325px;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        color: $color-secundario;
    }

    .formreserva form .inputs {
        display: block;
        width: 100%;
        background-color: white;
        margin: 15px;
        padding: 5px;
        height: 50px;
        font-size: 25px;
        border: solid 2px $color-secundario;
        color: $color-secundario;
    }

    .formreserva form div {
        width: 580px;
    }

    .formreserva form .check {
        background-color: white;
        border: solid 2px $color-secundario;
        color: $color-secundario;
        width: 156px;
        height: 50px;
        font-size: 18.5px;
        margin: 10px;
    }

    .formreserva form .label {
        display: inline;
    }

    .formreserva .label2 {
        padding-left: 5px;
    }

    .formreserva form select {
        width: 580px;
        height: 50px;
        font-size: 25px;
        display: inline;
    }

    .formreserva form textarea {
        width: 580px;
        font-size: 25px;
    }

    .formreserva .boton {
        cursor: pointer;
    }

    .formreserva .boton:hover {
        box-shadow: 1px 2px 2px 1px grey;
    }

    /*footer*/
    footer {
        height: 180px;

        .footer {
            flex-direction: row;

            .contacto {
                li {
                    font-size: 20px;
                }
            }
        }
        .redes-sociales{
            li{
                font-size:35px;
            }
        }
        .copy{
            p{
                font-size:18px;
            }
        }
    }
}